{% extends "base.html" %}
{% block title %} SakeOrb: About {% endblock %}

{% block content %}
<div class="container">
  <hr>
  <h2> Motivation </h2>
  <hr>

  <p class="lead"> Japanese Sake (rice wine) is gaining popularity in United States.
    In fact, United States is the largest importer of Japanese Sake.
    Sake is often considered to be mysterious to many customers in western countries,
    and therefore it makes finding the "right" Sake to drink not trivial.
    SakeOrb is a Sake recommender app that helps people find their
    favorite Sake.
  </p>

  <!-- <p class="lead"> United States is the top importer of Japanese Sake (rice wine).
  In 2019, the total exports of Japanese Sake to United States were worth 64 million US dollars.
  </p> -->

  <figure class="figure">
    <img src="static/img/export.png" alt="Intro" class="img-fluid">
    <figcaption class="figure-caption">United States is the top importer of Japanese Sake.
    In 2019, the total exports of Japanese Sake to United States were worth 64 million US dollars.
    </figcaption>
  </figure>

  <!-- <p> Finding the "right" Sake to drink is not trivial at all. Comparing to
    beer, wine, and other alcoholic beverages, Sake is often considered as mysterious
    and "exotic" to many customers in western countries. SakeOrb is a Sake recommender app that helps people find their
    favorite Sakes.
  </p> -->

  <hr>
  <h2> Using SakeOrb </h2>
  <hr>

  <p class="lead">
    For starters, SakeOrb provides popular items in each Sake category.
    SakeOrb is also capable of recommending similar Sakes to the user's choice by machine learning algorithm.
  </p>

  <figure class="figure">
    <img src="static/img/category.png" alt="Intro2" class="img-fluid">
    <figcaption class="figure-caption"> Four major Sake categories based on aroma and taste.
      The Sake Meter Value (SMV) measures the density of sake compared to water.
      The higher the SMV value the drier the sake. Higher acidity gives Sake a richer taste.
    </figcaption>
  </figure>
</div>
{% endblock %}
