{% extends "base.html" %}
{% block title %} SakeOrb: Contact {% endblock %}

<!-- {% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/login.css')}}">
{% endblock %} -->

{% block content %}
<div class="container">
  <h1>Contact Info</h1>

  <p>
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <a href="mailto:yehshuhao.ds@gmail.com">yehshuhao.ds@gmail.com</a>
  </p>

  <p>
    <i class="fa fa-linkedin" aria-hidden="true"></i>
    <a href="https://www.linkedin.com/in/shuhaoyeh/">LinkedIn Profile</a>
  </p>

  <p>
    <i class="fa fa-github" aria-hidden="true"></i>
    <a href="https://github.com/couperin123">GitHub</a>
  </p>

</div>
{% endblock %}
