{% extends "base.html" %}
{% block title %} SakeOrb: Contact {% endblock %}

<!-- {% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/login.css')}}">
{% endblock %} -->

{% block content %}
<div class="container">
  <p>
    <h2>Contact Info | Shuhao Yeh</h2>
  </p>

  <p>
    <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
    <a href="mailto:yehshuhao.ds@gmail.com">yehshuhao.ds@gmail.com</a>
  </p>

  <p>
    <i class="fa fa-fw fa-linkedin" aria-hidden="true"></i>
    <a href="https://www.linkedin.com/in/shuhaoyeh/">https://www.linkedin.com/in/shuhaoyeh/</a>
  </p>

  <p>
    <i class="fa fa-fw fa-github" aria-hidden="true"></i>
    <a href="https://github.com/couperin123">https://github.com/couperin123</a>
  </p>

</div>
{% endblock %}
